#dhanhq
TA-Lib
kiteconnect
pyotp
selenium
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
Django
celery[redis]
mysqlclient
celery[beat]
django-celery-beat
websockets
channels
django-simple-history
jwt
bcrypt
pyjwt
django-cors-headers
pandas
